.navbar-custom {
    background: linear-gradient(45deg, #5270FF, #FF66C4) !important;
  }
  
  .navbar-logo {
    max-height: 40px; /* Adjust the height as needed */
    margin-right: 10px; /* Add some space between logo and text */
  }
  
  /* Customize the color of the navbar text links */
  .navbar-custom .nav-link {
    color: #fff;
  }
  
  /* Customize the color of the active link */
  .navbar-custom .nav-link.active {
    color: #fff;
    font-weight: bold;
  }