.slidebox {
    width: 300px;
    border: 5px solid gray;
    padding: 10 px;
    margin: 10px;
}

.carousel{
  margin:auto;
  padding-top: 45px;
  vertical-align:middle;
  width: 100%;
}

.carousel-inner {
    height: 240px;
}

.carousel-caption
{
    text-align: left;
    text-decoration-color: white;
}

.BoxHeader
{
    font-size: 16px;
    font-weight: bold;
}



.Box
{
    justify-content: center;
    width: 240px;
    height: 170px;
    font-size: 13px;
    text-align: center;
    background-color: #DCDCDC;
    margin: 15px;
    padding: 5px;
}

.flex-container 
{
    display: flex;
    margin: auto;
    justify-content: center;
}

.BoxContent
{
    text-align: center;
    overflow-wrap: normal;
    font-size: 13px;
    font-weight: normal;
}

.carousel-caption{
    color: black;
    top: 50%;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
  max-width: 100%;
  width: 50px;
  vertical-align: middle;
}
