.module-container {
    background: #EDEDED;
    top: -80px;
    border-radius: 8px;
    height: fit-content;
    position: absolute;
}

.module-data {
    color: #161616;
}

.dark-mode .module-container {
    background: #595959;
}

.dark-mode .module-container p {
    color: #ffffff;
}