.semester-container {
    background: linear-gradient(90deg, #90929d, #A2AFED);
    border-radius: 10px;
    position: relative;
    padding-top: 50px; 
}

.semester-title {
    text-align: center;
}

.summary-container {
    position: relative; /* Make this container relative to position its content */
    top: -50px; /* Move it 50px up to align with modules. Adjust as needed. */
}